<!--REF: http://skyfall.mustachethemes.com/booklight/index.html -->

<section>
    <!-- 滚动广告 -->
    <article class="home" id="menu_home">
        <div id="slider-home" class="carousel slide animated fadeInDown visible" data-animation="fadeInDown" data-animation-delay="200" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <h2 class="animated fadeInDownBig visible" data-animation="fadeInDownBig" data-animation-delay="200">书籍
                        <br>是人类进步的阶梯</h2>
                    <h5 class="animated fadeInUpBig visible" data-animation="fadeInUpBig" data-animation-delay="200">站在巨人的肩膀，尽情享受阅读的快感吧</h5>
                    <a href="/products" class="btn btn-slider animated flipInY visible" data-animation="flipInY" data-animation-delay="500">挑选好书</a>
                </div>
                <div class="item">
                    <h2 class="animated fadeInDownBig visible" data-animation="fadeInDownBig" data-animation-delay="200">读书破万卷，
                        <br>
                        下笔如有神</h2>
                    <h5 class="animated fadeInUpBig visible" data-animation="fadeInUpBig" data-animation-delay="200">好的输出取决于好的输入，提高输入质量，方能写出好的作品</h5>
                    <a href="/products" class="btn btn-slider animated flipInY visible" data-animation="flipInY" data-animation-delay="500">挑选好书</a>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#slider-home" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="right carousel-control" href="#slider-home" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </article>

    <!-- 特色介绍 -->
    <article class="features" id="menu_features">
        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    <h2 class="animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="200">原创图书、权威杂志</h2>
                    <h6 class="animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="400">更有免费试读等你来...</h6>
                    <figure class="phone animated fadeInLeft visible" data-animation="fadeInLeft" data-animation-delay="200">
                        <img src="/assets/phone.png" alt="//">
                    </figure>
                </div>
                <div class="col-md-6">
                    <div class="features-item animated fadeInDown visible" data-animation="fadeInDown" data-animation-delay="200">
                        <a class="icon" href="#">
                            <i class="fa fa-eercast"></i>
                        </a>
                        <h4>包罗万象</h4>
                        <p>海量书籍，<br>
                            涵盖各行各业</p>
                    </div>
                    <div class="features-item animated fadeInDown visible" data-animation="fadeInDown" data-animation-delay="400">
                        <a class="icon" href="#">
                            <i class="fa fa-bell"></i>
                        </a>
                        <h4>知名作家</h4>
                        <p>汇聚名家名言，<br>
                            尽览大师风采</p>
                    </div>
                    <div class="features-item animated fadeInDown visible" data-animation="fadeInDown" data-animation-delay="600">
                        <a class="icon" href="#">
                            <i class="fa fa-users"></i>
                        </a>
                        <h4>读者网络</h4>
                        <p>成熟的读者社群，<br>
                            和有识之士共同成长</p>
                    </div>
                    <div class="features-item animated fadeInDown visible" data-animation="fadeInDown" data-animation-delay="800">
                        <a class="icon" href="#">
                            <i class="fa fa-globe"></i>
                        </a>
                        <h4>多国语言</h4>
                        <p>全球同步发售，<br>
                            与世界精英同步</p>
                    </div>

                    <div class="clearfix"></div>

                    <h3 class="animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="400">
                        <strong>你还在犹豫吗？</strong>
                        时不待我，让我们一起来读书吧，一次购买，所有设备共享
                    </h3>
                    <figure class="device animated slideInRight visible" data-animation="slideInRight" data-animation-delay="200">
                        <a href="#" data-original-title="Iphone Ipad Ebooks"><img src="/assets/device01.png" alt="//"></a>
                    </figure>
                    <figure class="device animated slideInRight visible" data-animation="slideInRight" data-animation-delay="400">
                        <a href="#" data-original-title="Desktop Ebooks"><img src="/assets/device02.png" alt="//"></a>
                    </figure>
                    <figure class="device animated slideInRight visible" data-animation="slideInRight" data-animation-delay="600">
                        <a href="#" data-original-title="Android Ebooks"><img src="/assets/device03.png" alt="//"></a>
                    </figure>
                </div>
            </div>

        </div>
    </article>

    <!-- 创始人 -->
    <article class="testimonials">
        <div class="container">
            <div id="carousel-testimonials" class="owl-carousel animated owl-theme fadeInUp visible" data-animation="fadeInUp" data-animation-delay="500" style="opacity: 1; display: block;">
                <div class="owl-wrapper-outer">
                    <div class="owl-wrapper" style="width: 6840px; left: 0px; display: block; transition: all 400ms ease; transform: translate3d(0px, 0px, 0px);">
                        <div class="owl-item" style="width: 1140px;">
                            <div class="item">
                                <figure>
                                    <a href="#">
                                        <i class="fa fa-quote-left"></i>
                                    </a>
                                    <img src="/assets/karl.jpg" alt="//">
                                </figure>
                                <h2>"我本人就是一个阅读爱好者，所以希望有更多朋友一起加入我们"</h2>
                                <h5>Karl Liao</h5>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 1140px;">
                            <div class="item">
                                <figure>
                                    <a href="#">
                                        <i class="fa fa-quote-left"></i>
                                    </a>
                                    <img src="/assets/testimonial2.jpg" alt="//">
                                </figure>
                                <h2>"People have been shipping books for years to the developing world."</h2>
                                <h5>Neal Doent</h5>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 1140px;">
                            <div class="item">
                                <figure>
                                    <a href="#">
                                        <i class="fa fa-quote-left"></i>
                                    </a>
                                    <img src="/assets/testimonial3.jpg" alt="//">
                                </figure>
                                <h2>"Awesome support, awesome work and great design!<br>We couldn't ask for more from the great folks."</h2>
                                <h5>Peter Parker</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="owl-controls clickable">
                    <div class="owl-pagination">
                        <div class="owl-page active">
                            <span class=""></span>
                        </div>
                        <div class="owl-page">
                            <span class=""></span>
                        </div>
                        <div class="owl-page">
                            <span class=""></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <!-- 推荐书目 -->
    <article class="premium-tv" id="menu_books">
        <div class="container">

            <h2 class="animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="200">经典推荐</h2>
            <h6 class="animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="400">多读书，读好书，精挑细选，始于经典</h6>

            <div class="filters">
                <a href="#" class="btn btn-filter active animated bounceIn visible" data-animation="bounceIn" data-animation-delay="200" data-filter="*">全部</a>
                <a href="#" class="btn btn-filter animated bounceIn visible" data-animation="bounceIn" data-animation-delay="300" data-filter=".comedy">经济学</a>
                <a href="#" class="btn btn-filter animated bounceIn visible" data-animation="bounceIn" data-animation-delay="400" data-filter=".drama">心理学</a>
                <a href="#" class="btn btn-filter animated bounceIn visible" data-animation="bounceIn" data-animation-delay="500" data-filter=".action">社会学</a>
                <a href="#" class="btn btn-filter animated bounceIn visible" data-animation="bounceIn" data-animation-delay="600" data-filter=".thriller">逻辑学</a>
            </div>

            <div class="premium-tv-grid isotope" style="position: relative; overflow: hidden; height: 819px;">
                <div class="premium-tv-item drama comedy isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                    <figure class="item-thumbnail">
                        <img src="/assets/program01.jpg" alt="//">
                        <span class="overthumb"></span>
                        <div class="icons">
                            <a href="#register_modal" data-toggle="modal">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </figure>
                    <h3>乌合之众:大众心理研究</h3>
                    <p>古斯塔夫•勒庞</p>
                    <strong>
                        <em>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </em>
                    </strong>
                </div>

                <div class="premium-tv-item action isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(390px, 0px, 0px);">
                    <figure class="item-thumbnail">
                        <img src="/assets/program02.jpg" alt="//">
                        <span class="overthumb"></span>
                        <div class="icons">
                            <a href="#register_modal" data-toggle="modal">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </figure>
                    <h3>影响力</h3>
                    <p>罗伯特·B.西奥迪尼</p>
                    <strong>
                        <em>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </em>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </strong>
                </div>

                <div class="premium-tv-item comedy isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(780px, 0px, 0px);">
                    <figure class="item-thumbnail">
                        <img src="/assets/program03.jpg" alt="//">
                        <span class="overthumb"></span>
                        <div class="icons">
                            <a href="#register_modal" data-toggle="modal">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </figure>
                    <h3>少有人走的路1:心智成熟的旅程</h3>
                    <p>M·斯科特·派克</p>
                    <strong>
                        <em>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </em>
                        <i class="fa fa-star"></i>
                    </strong>
                </div>

                <div class="premium-tv-item action isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 273px, 0px);">
                    <figure class="item-thumbnail">
                        <img src="/assets/program04.jpg" alt="//">
                        <span class="overthumb"></span>
                        <div class="icons">
                            <a href="#register_modal" data-toggle="modal">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </figure>
                    <h3>动物庄园</h3>
                    <p>乔治•奥威尔</p>
                    <strong>
                        <em>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </em>
                        <i class="fa fa-star"></i>
                    </strong>
                </div>

                <div class="premium-tv-item action drama isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(390px, 273px, 0px);">
                    <figure class="item-thumbnail">
                        <img src="/assets/program05.jpg" alt="//">
                        <span class="overthumb"></span>
                        <div class="icons">
                            <a href="#register_modal" data-toggle="modal">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </figure>
                    <h3>思考,快与慢</h3>
                    <p>丹尼尔•卡尼曼</p>
                    <strong>
                        <em>
                            <i class="fa fa-star"></i>
                        </em>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </strong>
                </div>

                <div class="premium-tv-item Thriller action isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(780px, 273px, 0px);">
                    <figure class="item-thumbnail">
                        <img src="/assets/program06.jpg" alt="//">
                        <span class="overthumb"></span>
                        <div class="icons">
                            <a href="#register_modal" data-toggle="modal">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </figure>
                    <h3>聪明的投资者</h3>
                    <p>本杰明·格雷厄姆</p>
                    <strong>
                        <em>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </em>
                        <i class="fa fa-star"></i>
                    </strong>
                </div>

                <div class="premium-tv-item drama comedy isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 546px, 0px);">
                    <figure class="item-thumbnail">
                        <img src="/assets/program07.jpg" alt="//">
                        <span class="overthumb"></span>
                        <div class="icons">
                            <a href="#register_modal" data-toggle="modal">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </figure>
                    <h3>国富论</h3>
                    <p>亚当·斯密</p>
                    <strong>
                        <em>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </em>
                        <i class="fa fa-star"></i>
                    </strong>
                </div>

                <div class="premium-tv-item drama thriller isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(390px, 546px, 0px);">
                    <figure class="item-thumbnail">
                        <img src="/assets/program08.jpg" alt="//">
                        <span class="overthumb"></span>
                        <div class="icons">
                            <a href="#register_modal" data-toggle="modal">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </figure>
                    <h3>人月神话</h3>
                    <p>小弗雷德里克·布鲁克斯</p>
                    <strong>
                        <em>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </em>
                        <i class="fa fa-star"></i>
                    </strong>
                </div>

                <div class="premium-tv-item action thriller isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(780px, 546px, 0px);">
                    <figure class="item-thumbnail">
                        <img src="/assets/program09.jpg" alt="//">
                        <span class="overthumb"></span>
                        <div class="icons">
                            <a href="#register_modal" data-toggle="modal">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </figure>
                    <h3>学会提问</h3>
                    <p>尼尔·布朗、 斯图尔特•基利</p>
                    <strong>
                        <em>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </em>
                        <i class="fa fa-star"></i>
                    </strong>
                </div>
            </div>

        </div>
    </article>

    <!-- 套餐计划 -->
    <article class="plans" id="menu_price">
        <div class="container">
            <h2 class="animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="200">精选套餐</h2>
            <h6 class="animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="400">好而不贵，适用实惠</h6>

            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="plans-items animated flipInY visible" data-animation="flipInY" data-animation-delay="200">
                        <strong>$9<small>/月</small>
                        </strong>
                        <p>基本套餐</p>
                        <ul>
                            <li>250 本电子书</li>
                            <li>10 本漫画</li>
                            <li>5 本实体书</li>
                            <li>36 本杂志</li>
                            <li>高级书签</li>
                        </ul>
                        <a href="#" class="btn btn-plans">订购</a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="plans-items animated flipInY visible" data-animation="flipInY" data-animation-delay="400">
                        <strong>$19<small>/月</small>
                        </strong>
                        <p>高级套餐</p>
                        <ul>
                            <li>540 本电子书</li>
                            <li>20 本漫画</li>
                            <li>5 本实体书</li>
                            <li>36 本杂志</li>
                            <li>有声杂志</li>
                        </ul>
                        <a href="#" class="btn btn-plans">订购</a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="plans-items animated flipInY visible" data-animation="flipInY" data-animation-delay="600">
                        <strong>$39<small>/月</small>
                        </strong>
                        <p>黄金套餐</p>
                        <ul>
                            <li>620 本电子书</li>
                            <li>30 本漫画</li>
                            <li>5 本实体书</li>
                            <li>36 本杂志</li>
                            <li>试听杂志</li>
                        </ul>
                        <a href="#" class="btn btn-plans">订购</a>
                    </div>
                </div>

            </div>

            <div class="row channels">
                <div class="col-md-5">
                    <h2 class="animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="200">合作伙伴</h2>
                    <h6 class="animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="400">为给大家提供优质服务，我们已与众多知名出版社展开深度合作</h6>
                </div>
                <div class="col-md-7">
                    <a class="brands animated rotateInDownRight visible" data-animation="rotateInDownRight" data-animation-delay="200" href="#">
                        <img src="/assets/logo-1.png" alt="//">
                    </a>
                    <a class="brands animated rotateInDownRight visible" data-animation="rotateInDownRight" data-animation-delay="300" href="#">
                        <img src="/assets/logo-2.png" alt="//">
                    </a>
                    <a class="brands animated rotateInDownRight visible" data-animation="rotateInDownRight" data-animation-delay="400" href="#">
                        <img src="/assets/logo-1.png" alt="//">
                    </a>
                    <a class="brands animated rotateInDownRight visible" data-animation="rotateInDownRight" data-animation-delay="500" href="#">
                        <img src="/assets/logo-3.png" alt="//">
                    </a>
                    <a class="brands animated rotateInDownRight visible" data-animation="rotateInDownRight" data-animation-delay="600" href="#">
                        <img src="/assets/logo-4.png" alt="//">
                    </a>
                    <a class="brands animated rotateInDownRight visible" data-animation="rotateInDownRight" data-animation-delay="700" href="#">
                        <img src="/assets/logo-5.png" alt="//">
                    </a>
                </div>
            </div>
        </div>
    </article>

    <!-- 订阅 -->
    <article class="subscribe" id="menu_subscribe">
        <div class="container">
            <h2 class="animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="200">订阅 BookFair最新动态及优惠信息</h2>
            <form id="newsletter" class="form-inline form-subscribe" action="newsletter.php" method="post" role="form">
                <div class="form-group">
                    <label class="sr-only" for="subscribe-email">请在此输入您的Email地址</label>
                    <input type="email" class="form-control" id="subscribe-email" placeholder="请在此输入您的Email地址" name="Email">
                </div>
                <button type="submit" class="btn btn-subscribe">订阅</button>
            </form>
        </div>
    </article>
</section>
