<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-lg-8">
                <nav class="navbar" role="navigation">
                    <ul class="nav navbar-nav menu-effect ">
                        <li class="">
                            <a href="/">主页</a>
                        </li>
                        <li class="">
                            <%= link_to("挑选好书", products_path) %>
                        </li>
                        <li class="">
                            <a href="#menu_features">特色服务</a>
                        </li>
                        <li class="">
                            <a href="#menu_books">经典推荐</a>
                        </li>
                        <li>
                            <a href="#menu_price">精选套餐</a>
                        </li>
                        <li>
                            <a href="#menu_subscribe">邮件订阅</a>
                        </li>
                        <li class="active">
                            <a href="#register_modal" data-toggle="modal">新用户注册</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-5 col-lg-4 copy">
                <ul class="social">
                    <li>
                        <a href="#" data-original-title="Flickr" class="animated flipInY visible" data-animation="flipInY" data-animation-delay="200">
                            <i class="fa fa-flickr"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-original-title="Vimeo" class="animated flipInY visible" data-animation="flipInY" data-animation-delay="400">
                            <i class="fa fa-vimeo"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-original-title="Twitter" class="animated flipInY visible" data-animation="flipInY" data-animation-delay="600">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-original-title="Facebook" class="animated flipInY visible" data-animation="flipInY" data-animation-delay="800">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-original-title="Google +" class="animated flipInY visible" data-animation="flipInY" data-animation-delay="1000">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-original-title="Linkedin" class="animated flipInY visible" data-animation="flipInY" data-animation-delay="1200">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-original-title="Pinterest" class="animated flipInY visible" data-animation="flipInY" data-animation-delay="1400">
                            <i class="fa fa-pinterest"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</footer>
